@charset "UTF-8";

     *{
          margin: 0px;
          padding: 0px;
          font-family: Georgia, 'Times New Roman', Times, serif;
     }
     html, body{
          height: 100vh;
          width: 100vw;
     }
     main{
          position: relative;
          height: 100vh;
          
     }
     body{
          background:url('../imagens/fundo-madeira.jpg')  no-repeat top center;
          background-size: cover;
          background-attachment: fixed;
     }
     section#telefone{
          position: absolute;
          height: 500px;
          width: 400px;
          top: 15% ;
          left: 50%;
          transform: translate(-50%, -50px);
          height: 630px;
          width: 311px;
          background: url('../imagens/frame-iphone.png') no-repeat  ;
          
     }
    